body,
html {
    width: 100%;
    height: 100%;
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(header.jpg);
}

h1 {
    /* text-align: center; */
    font-size: 3em;
    font-family: fantasy;
    color: rgba(241, 10, 10, 0.87);
}

.buffer {
    height: 10rem;
}

hr {
    border-color: red;
    border-width: 5px;
    max-width: 70px;
}

.btn {
    /* justify-content: center; */
    background-color: silver;
}

.btn-primary {
    text-transform: uppercase;
    border-radius: 250px;
}

.btn:hover {
    background-color: skyblue;
}